<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Receipt</title>
    <style>
        body { font-family: Arial, sans-serif; }
        h1 { text-align: center; }
        .row { margin: 5px 0; }
        .label { font-weight: bold; }
        hr { margin: 15px 0; }
    </style>
</head>          
<body>  

    <h1>Payment Receipt</h1>
    <div class="row"><span class="label">Transaction:</span> {{ payment.transaction_id }}</div>
    <div class="row"><span class="label">Name:</span> {{ payment.bought_by.username }}  </div>
    <div class="row"><span class="label">Email:</span> ({{ payment.bought_by.email }})</div>
    <div class="row"><span class="label">Project:</span> {{ payment.project.name }}</div>
    <div class="row"><span class="label">Amount:</span> GH₵ {{ payment.amount }}</div>
     <div class="row"><span class="label">Owner:</span>  {{ payment.project.uploaded_by.username }}</div>
    <div class="row"><span class="label">Owner number:</span>  {{ payment.project.uploaded_by.phone}}</div>
    <div class="row"><span class="label">Owner Email:</span>  {{ payment.project.uploaded_by.email}}</div>
    <div class="row"><span class="label">Date:</span> {{ payment.payment_date|date:"Y-m-d H:i:s" }}</div>
    <hr/>  
    <p>Thank you for your payment </p> 
</body>

</html>
